html{
background-image: -webkit-linear-gradient(45deg, black 0%, white 50%, black 100%);
background-image: -moz-linear-gradient(45deg, black 0%, white 50%, black 100%);
background-image: -o-linear-gradient(45deg, black 0%, white 50%, black 100%);
background-image: linear-gradient(45deg, black 0%, white 50%, black 100%);
}
/* body */
body{
	font-family: sans-serif, Helvetica, Arial, Verdana;
	width: 840px;
	background-color: white;
	margin: 2px auto; 
	padding: 0;
	border: 1px solid black; 
	box-shadow: 0 9px 18px 9px; 
	font-weight: bold;
}

/* Header */
header img{

	float: left;
	margin: 20px 10px 10px 15px; 
	
}
header h1{
	padding-top: 34px;
}
header h2{
	margin: 0; 
	padding-bottom: 15px; 
}

/* Navigation Menu First tier */

#nav_menu ul li a.current{
	color:red;
}

#nav_menu ul li a#currentFeedback{
	color:red;
}

#nav_menu ul {
	list-style:none; 
	border-top: 3px solid black;

	margin: 0; 
	padding: 0; 
	position: relative;
}
#nav_menu ul li {
	float:left; 
	text-align: center;
	background-color: black;
}

#nav_menu ul li a{
	text-align: center;
	display: block; 
	width: 176.5px;
	padding: 1em;
	background-color: black;
	font-weight:bold;
	color:white; 
	border-right: 2px solid white; 
	text-decoration:none; 
}



#nav_menu ul li a.lastitem{
	border-right: none; 
} 

#nav_menu ul li a:hover , #nav_menu ul li li a:focus{
	background-color: red;
}

/* Navigation Menu Second tier */
#nav_menu{
	clear:left; 
}

#nav_menu ul ul{
	display:none; 
    position: absolute; 
}
#nav_menu ul ul li {
	border-bottom: 2px solid white;
}

#nav_menu ul li:hover > ul{ 
	display : block; 
}

#nav_menu ul li ul li a:hover{
	background-color: brown;
}

/* Navigation Menu Third tier */
#nav_menu ul ul ul{
	left: 50%; 
	top: 30%;
}

#nav_menu ul li ul li ul li a:hover{
	background-color: grey;
}

/* sidebarA */
#sidebarA{
	width: 140px;
	float: left;
}

#sidebarA ul{
	list-style: none;
	padding: 0 1em; 
}

#sidebarA li{
	margin-top: 2em; 
}

#sidebarA ul li a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}

#sidebarA figcaption{
	float:left;
	color:black;
	padding:0;
}

img{
	border: 2px solid black;
}

/* Section is in index.css */


/* sidebarB */

#sidebarB{
	width: 144px;
	float: right;
	padding: 1em;
	height: 850px;

}

#sidebarB ul{
	font-weight: bold;
	list-style: none;
	padding: 0;
}

#sidebarB li{
	font-weight: bold;
	list-style: none;
	padding: 1em 0;

}
	
/* footer */
footer{
	clear:both;
	height: 40px;
	border: 1px solid black;
	text-align: center;
	background-color: black;
	color: white;
}
footer h4{	
	padding:.5em 0;
	margin:0;
}

/* References
Amazon.co.uk(n.d). Czarny kwiat. Retrived April 11, 2019, from
https://www.amazon.co.uk/Czarny-kwiat-Kim-Young-ha/dp/839352718X

Amazon.com(n.d). Flor Negra (Portuguese Edition). Retrived April 11, 2019, from
https://www.amazon.com/Flor-Negra-Portuguese-Kim-Young-ha-ebook/dp/B00GMOA1W0

images.gr-assets.com(n.d). Retrived April 11, 2019, from
https://images.gr-assets.com/books/1342599077l/7121990.jpg

Amazon.com(n.d). I Hear Your Voice. Retrived April 11, 2019, from
https://www.amazon.com/Hear-Your-Voice-Young-Ha-Kim/dp/0544324471

Amazon.com(n.d). Photo Shop Murder. Retrived April 11, 2019, from
https://www.amazon.com/Photo-Shop-Murder-Young-Ha-Kim/dp/8988095715

Amazon.com(n.d). Black Flower. Retrived April 11, 2019, from
https://www.amazon.com/Black-Flower-Young-Ha-Kim/dp/0544106393

Amazon.com(n.d). Your Republic Is Calling You (Korean Edition). Retrived April 11, 2019, from
https://images-na.ssl-images-amazon.com/images/I/41jxCKbzFEL._SX352_BO1,204,203,200_.jpg

Amazon.com(n.d). Your Republic Is Calling You (Korean Edition). Retrived April 11, 2019, from
https://www.amazon.com/Your-Republic-Calling-You-Young-ha/dp/0151015457

Barnes & Noble(n.d). Tenho o Direito de Me Destruir. Retrived April 11, 2019, from
https://www2.barnesandnoble.com/w/tenho-o-direito-de-me-destruir-kim-young-ha/1119046649?type=eBook

Houghton Mifflin Harcourt(n.d). Diary of a Murderer: And Other Stories. Retrived April 11, 2019, from
https://www.hmhbooks.com/shop/books/Diary-of-a-Murderer/9781328545565

Ted.com(n.d). Young-ha Kim. Retrived April 11, 2019, from
https://www.ted.com/speakers/young_ha_kim
*/

