table{
	border: 2px solid black;
	border-collapse: collapse;
}
th, td{
	border: 2px solid black;
	padding: 4px;
	font-weight: bold;
}
figure{
	margin: 20px 0 0 4px;
	padding:0;
	width: 470;
}
figcaption{
	font-weight: bold;
	font-color: grey;
	padding: 4px;
	text-align: center;
}
thead, tfoot{
	background-color: red;
}

